.footer
    .footer-in1
        a(href="http://www.news.cn/" class="link external" target="_blank")
            img(src="bundle/xhw-logo.png", alt="")

        .textBox1
            .text1 有新闻线索请联系我们
            .text2 邮箱：dujialianxian@news.cn
            .text3 制作单位 <a href="http://www.xinhuanet.ltd/" class="link external" target="_blank">新华网股份有限公司</a>

    .footer-in2
        .textBox2
            .text4 版权所有
            .text5 <a href="http://www.xinhuanet.ltd/" class="link external" target="_blank">新华网股份有限公司</a>
        .text6 Copyright © 2000 - <span>2020</span> <a href="http://www.xinhuanet.com/" class="link external" target="_blank">XINHUANET.com</a>　All Rights Reserved.
            