<!-- nav START -->
.nav#pcNav
    .nav-in
        //- a(href='http://www.xiongan.gov.cn', title='中国雄安官网', target='_blank').link.external.xaLogoA
            img.logo.lazy.lazy-fade-in(src='http://www.xiongan.gov.cn/bundle/xiongan-logo-w.png', alt='http://www.xiongan.gov.cn')
        .btn-box(data-js="setNav(cid)")
            //- 导航
            //- a(href='/').link 首页
            //- a(href='/news/').link 头条新闻
            //- include ./inc/btnBoxA.pug
<!-- nav END -->