.rotRightPicTitleAbs
    .rotRightPicTitleAbsBox#rotBox61
        .swiper-container.rotRightPicTitleAbs-container
            .swiper-wrapper
            
                //- <div class="swiper-slide item-rightPicTitleAbs">
                //-     <div class="item-rightPicTitleAbs-in">
                        
                //-         <div class="pic">
                //-             <a href="http://www.xiongan.gov.cn/2019-12/04/c_1210381599.htm" class="link external" target="_blank" data-docid="1210381599">
                //-                 <img class="lazy lazy-fade-in" src="http://www.xiongan.gov.cn/titlepic/121038/1210381599_1575447484617_title0h.png" alt="服务雄安高质量发展 2019“河北电商月”雄安新区站系列活动启幕">
                //-             </a>
                //-         </div>


                //-         <div class="textBox">
                //-             <div class="title">
                //-                 <div class="text-in">
                //-                     <a href="http://www.xiongan.gov.cn/2019-12/04/c_1210380311.htm" class="link external" target="_blank" data-docid="1210380311">河北雄安新区农村人居环境集中整治工作领导小组办公室致新区农民朋友的倡议书</a>
                //-                 </div>
                //-             </div>
                //-             <div class="abs">
                //-                 <div class="text-in">
                //-                     | 河北雄安新区农村人居环境集中整治工作领导小组办公室致新区农民朋友的倡议书近日发布。议书近日发布。议书近日发布。
                //-                 </div>
                //-             </div>
                //-             <a class="link external item-rightPicTitleAbs-more" herf="#">详情</a>
                //-         </div>
                        


                //-     </div>
                //- </div>
                
                .isNoContent 正在加载...
                //- each rotrightPicTitleAbsVal in [1,2]

                    <!-- 子循环 开始 -->
                    .swiper-slide.itemBox
                        .itemBoxLeft
                            .pic
                                a(href='http://www.xiongan.gov.cn/2018-10/18/c_129974315.htm', target='_blank')
                                    img(src='http://www.xiongan.gov.cn/titlepic/112356/1123568219_1539857860126_title0h.png', alt='第一届河北国际工业设计周启幕')
                            .title
                                .text
                                    a(href='http://www.xiongan.gov.cn/2018-10/18/c_129974315.htm', target='_blank')= rotrightPicTitleAbsVal + '第一届河北国际工业设计周启幕'

                        .itemBoxRight
                            <!-- 子子循环 开始 -->
                            .itemBoxRight-item
                                .pic
                                    a(href='http://www.xiongan.gov.cn/2018-10/18/c_129974315.htm', target='_blank')
                                        img(src='http://www.xiongan.gov.cn/titlepic/112356/1123568219_1539857860126_title0h.png', alt='第一届河北国际工业设计周启幕')
                                .title
                                    .text
                                        a(href='http://www.xiongan.gov.cn/2018-10/18/c_129974315.htm', target='_blank')  第一届河北国际工业设计周启幕第一届河北国际工业设计周启幕第一届河北国际工业设计周启幕
                                    a(href='http://www.xiongan.gov.cn/2018-10/18/c_129974315.htm', target='_blank') 
                                        .icon-jump
                            <!-- 子子循环 结束 -->

                            //- .itemBoxRight-item
                                .pic
                                    a(href='http://www.xiongan.gov.cn/2018-10/18/c_129974315.htm', target='_blank')
                                        img(src='http://www.xiongan.gov.cn/titlepic/112356/1123568219_1539857860126_title0h.png', alt='第一届河北国际工业设计周启幕')
                                .title
                                    .text
                                        a(href='http://www.xiongan.gov.cn/2018-10/18/c_129974315.htm', target='_blank')  第一届河北国际工业设计周启幕第一届
                                    a(href='http://www.xiongan.gov.cn/2018-10/18/c_129974315.htm', target='_blank') 
                                        .icon-jump

                            //- .itemBoxRight-item
                                .pic
                                    a(href='http://www.xiongan.gov.cn/2018-10/18/c_129974315.htm', target='_blank')
                                        img(src='http://www.xiongan.gov.cn/titlepic/112356/1123568219_1539857860126_title0h.png', alt='第一届河北国际工业设计周启幕')
                                .title
                                    .text
                                        a(href='http://www.xiongan.gov.cn/2018-10/18/c_129974315.htm', target='_blank')  第一届河北国际
                                    a(href='http://www.xiongan.gov.cn/2018-10/18/c_129974315.htm', target='_blank') 
                                        .icon-jump

                    <!-- 子循环 结束 -->

            .swiper-pagination.rotRightPicTitleAbs-pagination
            .swiper-button-prev.rotRightPicTitleAbs-prev
            .swiper-button-next.rotRightPicTitleAbs-next

    //- .rotRightPicTitleAbsBg
