/* index.styl */
.theme-moo {
  --f7-theme-color: #142896;
  --moo-color: #142896;
  --f7-theme-color-rgb: 33, 150, 243;
  --f7-theme-color-shade: #e2c172;
  --f7-theme-color-tint: #e2c172;
  --f7-theme-color-nav: #e2c172;
  --f7-theme-color-rot-bullet: #fff;
  --f7-theme-color-rot-bullet-active: #ffa500;
  --spa-color-grayC: #ccc;
  --spa-color-gray9: #999;
  --spa-color-gray6: #666;
  --spa-color-gray3: #333;
  --moo-color-listBox: #0181ec;
  --moo-color-footerTextAndImg: #fff;
  --moo-color-footerN: rgba(255,255,255,0.3);
  --moo-footerBg: #0075f8;
  --moo-bannerBg: #142896;
  --moo-itemBoxBg: #f2f2f2;
  --moo-swiper-button: #fff;
  --moo-rotWidth: 740px;
  --moo-col1_right: 410px;
  --moo-topBigTitle-color: #062565 !important;
  --moo-navBgColor: #142896;
  --moo-spaColTitle_color: #0181ec;
  --moo-spaColTitle_afterBg: #f4dbb2;
}
.pic {
  background-image: url("/talking/index-assets/scenes1-logo.png");
  background-position: center center;
  background-size: auto;
  background-color: #ccc;
  background-repeat: no-repeat;
  z-index: 1;
  position: absolute;
}
.banner {
  width: 1200px;
  display: block;
  height: 461px;
  position: relative;
  margin: 0 auto;
  padding-top: 0;
}
.banner .bannerTitle {
  z-index: 2;
  position: absolute;
  transform: translate(-49%, 0);
  top: 101px;
  left: 50%;
  display: block;
  width: auto;
  height: 300px;
  margin: 0 auto;
}
.banner-bg {
  background-image: url("bannerBg.png");
  background-position: center 0;
  background-size: auto auto;
  background-repeat: no-repeat;
}
.is-mobile .banner {
  display: block;
  position: relative;
  width: 100%;
  height: 500px;
  overflow: hidden;
}
.is-mobile .banner-bg {
  background-size: auto 100%;
  background-position: center 0;
  position: relative;
  background-size: auto 500px;
}
.is-mobile .banner-bg:after {
  content: '<< 返回首页';
  position: absolute;
  z-index: 1;
  width: 100px;
  color: #fff;
  font-size: 18px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10px;
  font-weight: 400;
  pointer-events: none;
  text-align: center;
}
.is-mobile .bannerTitle {
  display: none;
  z-index: 2;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  width: 98%;
  height: auto;
}
.is-mobile .bannerTitle-md {
  display: block;
  z-index: 2;
  position: absolute;
  transform: translate(-48%, -50%);
  left: 50%;
  top: 50%;
  width: 96%;
  height: auto;
}
.cover {
  display: block;
  width: 100%;
  height: 100%;
  position: fixed;
  background: #e3f0f6;
  background: radial-gradient(ellipse at center, #e3f0f6 0%, #76a7e0 100%);
  background: url("cover.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  z-index: 99;
}
.cover:after {
  content: '进入专题';
  position: absolute;
  display: inline-block;
  overflow: hidden;
  width: 120px;
  height: 40px;
  line-height: 40px;
  border: #3074ff 2px solid;
  text-align: center;
  font-size: 20px;
  padding: 0 20px;
  top: auto;
  left: 50%;
  bottom: 30%;
  transform: translate(-50%, -50%);
  border-radius: 6px;
  color: #3074ff;
}
.is-mobile .cover {
  display: none;
}
body,
p[style],
font[face] {
  font-family: "PingFang SC", "SF Pro SC", "HanHei SC", "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
}
.windows body,
.windows p[style],
.windows font[face],
.windows body a,
.windows p[style] a,
.windows font[face] a {
/*font-family: 'HanHei SC', 'PingFang SC', 'Helvetica Neue', 'Helvetica', 'STHeitiSC-Light', 'Arial', sans-serif;*/
  font-family: Microsoft YaHei, Microsoft YaHei Lights, Arial;
/*font-family: Helvetica Neue, Helvetica, Arial, sans-serif;*/
}
.hide {
  display: none;
}
.hide-must {
  display: none !important;
}
.bg-white,
body {
  background-color: #fff;
}
body {
  position: relative;
}
html,
body,
ul,
li,
p,
h1,
h2,
h3 {
  padding: 0;
  margin: 0;
}
h1,
h2,
h3 {
  font-weight: normal;
}
ul,
li {
  list-style: none;
}
html {
  width: 100%;
  height: 100%;
}
body {
  font-size: 14px;
}
a {
  color: #333;
  text-decoration: none;
  outline: 0;
}
a:hover {
  color: #ffa500 !important;
}
.list li {
  font-size: 16px;
  position: relative;
  line-height: 38px;
  padding-left: 20px;
}
.list li:before {
  content: '';
  width: 4px;
  height: 4px;
  position: absolute;
  top: 17px;
  left: 0;
  background-color: var(--moo-color);
  pointer-events: none;
  border-radius: 100%;
}
.box,
.area,
.banner {
  margin: 0 auto;
}
.footer {
  background-color: var(--moo-footerBg);
  text-align: center;
  padding: 40px 0 30px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #fff;
  z-index: 4;
  position: relative;
  margin-top: 40px;
}
.footer a {
  color: #fff !important;
}
.footer .footer-in1 {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1200px;
  margin: 0 auto;
}
.footer .textBox1 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 700px;
}
.footer .text1,
.footer .text2,
.footer .text3 {
  padding-top: 6px;
  line-height: 24px;
}
.footer .text1 {
  background-image: url("icon-phone.png");
  background-repeat: no-repeat;
  background-position: left bottom;
  padding-left: 30px;
}
.footer .text3 {
  background-image: url("icon-home.png");
  background-repeat: no-repeat;
  background-position: left bottom;
  padding-left: 36px;
}
.footer .textBox2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 210px;
  margin: 0 auto 6px;
}
.footer .footer-in2 {
  width: 100%;
  margin: 0 auto;
  border-top: 1px #0068b7 solid;
  padding-top: 16px;
  margin-top: 16px;
}
.is-mobile .footer {
  width: 100%;
  padding: 16px 0 30px;
}
.is-mobile .footer-in {
  width: 90%;
}
.rotRightPicTitleAbs,
.rotRightPicTitleAbsBox,
.rotRightPicTitleAbs-container,
.rotRightPicTitleAbsBg {
  width: 1200px;
  height: 505px;
  margin: 0 auto;
}
.rotRightPicTitleAbs {
  margin-top: 40px;
  background-image: url("rotBg.png");
  background-repeat: no-repeat;
  background-position: center center;
}
.rotRightPicTitleAbsBox {
  position: relative;
  z-index: 10;
}
.rotRightPicTitleAbs-container .item-rightPicTitleAbs .item-rightPicTitleAbs-in {
  display: flex;
  justify-content: space-around;
  padding: 30px;
  margin: 0 50px;
}
.rotRightPicTitleAbs-container .item-rightPicTitleAbs .pic {
  height: 385px;
  width: 686px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0.588px 0.809px 7.6px 0.4px rgba(0,117,248,0.4);
  position: absolute;
  border: #fff 12px solid;
  border-left-width: 13px;
  border-right-width: 13px;
  position: absolute;
  left: 110px;
  top: 50%;
  transform: translateY(-50%);
  margin-top: 12px;
}
.rotRightPicTitleAbs-container .item-rightPicTitleAbs .pic img {
  width: auto;
  height: 385px;
}
.rotRightPicTitleAbs-container .item-rightPicTitleAbs .textBox {
  flex: 1 0;
  margin-right: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: absolute;
  right: 78px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #fff;
  box-shadow: 0.588px 0.809px 7.6px 0.4px rgba(51,191,255,0.93);
  width: 212px;
  height: 278px;
  overflow: hidden;
}
.rotRightPicTitleAbs-container .item-rightPicTitleAbs .textBox .title {
  font-size: 18px;
  line-height: 22px;
  font-weight: 300;
  display: inline-block;
  padding-top: 28px;
  font-weight: 400;
}
.rotRightPicTitleAbs-container .item-rightPicTitleAbs .textBox .title:after {
  content: '';
  width: 70px;
  height: 6px;
  background: #0075f8;
  display: block;
}
.rotRightPicTitleAbs-container .item-rightPicTitleAbs .textBox .title a {
  color: #0075f8;
}
.rotRightPicTitleAbs-container .item-rightPicTitleAbs .textBox .text-in {
  padding: 10px 12px 10px 16px;
}
.rotRightPicTitleAbs-container .item-rightPicTitleAbs .textBox .abs {
  font-size: 13px;
  line-height: 20px;
  height: 92px;
  color: #767676;
}
.rotRightPicTitleAbs-container .item-rightPicTitleAbs .textBox .item-rightPicTitleAbs-more {
  color: #0075f8;
  background-image: url("icon-more.png");
  background-repeat: no-repeat;
  background-position: 0 bottom;
  display: block;
  align-self: flex-end;
  padding-top: 10px;
  padding-left: 28px;
  padding-right: 16px;
  font-weight: 400;
}
.rotRightPicTitleAbs-prev,
.rotRightPicTitleAbs-next {
  color: var(--moo-color);
  outline: none;
  overflow: hidden;
  text-indent: -888px;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  top: 50%;
  transform: translateY(-50%);
}
.rotRightPicTitleAbs-prev {
  background-image: url("icon-prev.png");
}
.rotRightPicTitleAbs-next {
  background-image: url("icon-next.png");
}
.is-mobile .rotRightPicTitleAbsBoxBox {
  padding: 20px 0;
  overflow: hidden;
}
.is-mobile .rotRightPicTitleAbsBoxBox .item-rightPicTitleAbs-in {
  flex-direction: column-reverse;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.is-mobile .rotRightPicTitleAbsBoxBox .rotRightPicTitleAbsBox,
.is-mobile .rotRightPicTitleAbsBoxBox .rotRightPicTitleAbs {
  width: 100%;
  height: 600px;
}
.is-mobile .rotRightPicTitleAbsBoxBox .rotRightPicTitleAbs {
  overflow: hidden;
}
.is-mobile .rotRightPicTitleAbsBoxBox .rotRightPicTitleAbs-prev,
.is-mobile .rotRightPicTitleAbsBoxBox .rotRightPicTitleAbs-next {
  display: none;
}
.is-mobile .rotRightPicTitleAbsBoxBox .swiper-pagination-bullet {
  width: 20px;
}
.is-mobile .rotRightPicTitleAbsBoxBox .swiper-pagination-bullet+.swiper-pagination-bullet {
  margin-left: 3px;
}
.is-mobile .rotRightPicTitleAbsBoxBox .mobile-itemBox {
  display: flex;
  justify-content: space-between;
  height: 600px;
}
.is-mobile .rotRightPicTitleAbsBoxBox .textBox {
  flex: 1 0;
  position: relative;
  width: 100%;
  height: auto;
  margin: 0;
  justify-content: flex-start;
  padding-top: 20px;
}
.is-mobile .rotRightPicTitleAbsBoxBox .textBox-in {
  margin: 0 auto;
  width: 90%;
  height: auto;
}
.is-mobile .rotRightPicTitleAbsBoxBox .title {
  position: relative;
}
.is-mobile .rotRightPicTitleAbsBoxBox .pic {
  width: 100%;
  height: 300px;
  overflow: hidden;
}
.is-mobile .rotRightPicTitleAbsBoxBox .pic a {
  width: 100%;
  height: 100%;
}
.is-mobile .rotRightPicTitleAbsBoxBox .pic img {
  width: auto;
  height: 100%;
}
.is-mobile .rotRightPicTitleAbsBoxBox .title {
  width: 100%;
  font-size: 16px;
  text-align: center;
}
.area {
  width: 1200px;
  position: relative;
  z-index: 4;
}
.items {
  width: 1200px;
  height: auto;
  margin: 0 auto 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.items .item {
  flex: 0 1 auto;
  width: 200px;
  min-height: 400px;
  padding: 30px 30px 40px;
  text-align: center;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.3);
  margin: 20px;
  position: relative;
}
.items .item .pic {
  position: relative;
  margin-bottom: 20px;
  width: 100%;
  height: 140px;
  overflow: hidden;
  background-size: 40% auto;
  border-radius: 4px;
}
.items .item .pic img {
  width: auto;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.items .item .text {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 10px;
}
.items .item .abs {
  min-height: 96px;
  height: auto;
  font-size: 14px;
}
.items .item .subTitle {
  padding-top: 12px;
  padding-bottom: 20px;
  height: 56px;
  border-top: #ccc 1px solid;
  font-size: 16px;
  line-height: 24px;
  word-break: break-all;
  word-wrap: break-word;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
}
.is-mobile .colA {
  width: 100%;
}
.is-mobile .items-col {
  width: 100%;
  height: 60px;
  margin: 20px auto 10px;
  background-size: auto 70%;
  background-position: -5% center;
}
.is-mobile .colIn {
  background-size: auto 80%;
  background-position: 10% center;
}
.is-mobile .col3TitleIn3 {
  background-size: auto 50%;
  background-position: 10% center;
}
.is-mobile .col1 .more {
  padding: 0 20px;
}
.is-mobile .items {
  width: 100%;
  justify-content: space-around;
}
.is-mobile .items .item {
  width: 100%;
  height: auto;
  min-height: auto;
}
.is-mobile .items .item .pic {
  height: 153px;
}
.is-mobile .items .item .pic img {
  width: 100%;
  height: auto;
}
.is-mobile .items .item .abs {
  min-height: max-content;
  margin-bottom: 20px;
}
.is-mobile .items .item .subTitle {
  position: relative;
  width: 100%;
  height: auto;
  padding-top: 20px;
  padding-bottom: 0;
}
.itemsColSpBg {
  width: 1200px;
  height: 75px;
  margin: 40px auto 20px;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url("col1.png");
  border-radius: 14px;
}
.itemsColSpBg .colATxt {
  display: none;
}
.itemsColTiny {
  color: #565656;
  font-size: 24px;
  font-weight: 600;
}
a:hover .itemsColTiny {
  color: #ffa500;
}
.is-mobile .itemsColSpBg {
  width: 96%;
}
.listBoxMoreBtnBox {
  text-align: center;
}
.listBoxMoreBtn {
  cursor: pointer;
  margin: 20px auto 60px;
  display: inline-block;
  border-radius: 4px;
  padding: 12px 160px;
  font-weight: 600;
  border: var(--moo-color-listBox) 1px solid;
  font-size: 1.1em;
  color: var(--moo-color-listBox);
  background-color: #fff;
}
.listBoxMoreBtn:hover {
  color: #fff;
  background-color: var(--moo-color-listBox);
}
.listBoxMoreBtn.disable {
  pointer-events: none;
  border-color: #ccc;
  color: #ccc;
}
.listBoxMoreBtn.disable:hover {
  background-color: #fff;
}
.listBoxMoreBtn.active-state {
  background: #000;
}
.listHasImg .listBox {
  width: 960px;
  text-align: left;
  margin: 40px auto;
}
.listHasImg .listBox .list li.noPic {
  height: auto;
}
.listHasImg .listBox .list li.noPic .text {
  width: 100%;
  height: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}
.listHasImg .listBox .list li {
  position: relative;
  height: auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  padding-left: 30px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  overflow: hidden;
}
.listHasImg .listBox .list li:before {
  content: '';
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 5px;
  height: 100%;
  border-radius: 0;
  transform: translateY(-50%);
}
.listHasImg .listBox .list li:hover {
  background-color: #f1f1f1;
}
.listHasImg .listBox .list li .pic {
  background-image: url("/talking/index-assets/scenes1-logo.png");
  background-position: center center;
  background-size: auto;
  background-color: #ccc;
  background-repeat: no-repeat;
  z-index: 1;
  position: absolute;
  overflow: hidden;
  position: relative;
  overflow: hidden;
  border-radius: 4px;
}
.listHasImg .listBox .list li .pic,
.listHasImg .listBox .list li .pic a {
  width: 300px;
  height: 180px;
}
.listHasImg .listBox .list li .pic img {
  position: absolute;
  width: auto;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  height: 100%;
}
.listHasImg .listBox .list li .text {
  width: 600px;
  height: 180px;
  font-size: 16px;
  line-height: 22px;
  text-align: left;
  margin-right: 2em;
}
.listHasImg .listBox .list li .text,
.listHasImg .listBox .list li .text a {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}
.listHasImg .listBox .list li .text .link {
  text-align: left;
  align-items: flex-start;
}
.listHasImg .listBox .list li .text .title {
  font-size: 25px;
  font-weight: bold;
  text-align: left;
  line-height: 36px;
}
.listHasImg .listBox .list li .text .abs {
  margin-top: 20px;
}
.is-mobile .listBox {
  width: 86%;
  margin: 20px auto 20px;
}
.is-mobile .listBox .list {
  margin: 0;
}
.is-mobile .listBox .list li {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 25px;
}
.is-mobile .listBox .list li:before {
  background-color: #f00;
}
.is-mobile .imgList .listBox li {
  width: 100%;
  height: auto;
  padding: 0;
  margin-bottom: 20px;
}
.is-mobile .listHasImg .listBox .list li {
  font-size: 18px;
  margin-bottom: 0;
  margin-top: 20px;
  padding-left: 20px;
  flex-direction: column-reverse;
}
.is-mobile .listHasImg .listBox .list li:before {
  width: 3px;
}
.is-mobile .listHasImg .listBox .list li .pic {
  margin-bottom: 10px;
}
.is-mobile .listHasImg .listBox .list li .text {
  width: auto;
  height: auto;
}
.is-mobile .listHasImg .listBox .list li .text .title {
  font-size: 20px;
  line-height: 30px;
  word-break: break-all;
  margin-bottom: 0;
}
.is-mobile .listHasImg .listBox .list li .text .abs {
  margin-top: 6px;
}
.is-mobile .listHasImg .listBox .list li.noPic .text {
  padding-top: 3px;
  padding-bottom: 0;
}
.is-mobile .listHasImg .listBox .list li.noPic .text .title {
  margin-bottom: 0;
}
.is-mobile .listBoxMoreBtn {
  padding: 12px 40px;
  margin: 0 auto 60px;
}
.is-mobile .area {
  width: 100%;
  overflow: hidden;
}
.is-mobile .list li {
  font-size: 16px;
  position: relative;
  line-height: 26px;
  padding-left: 10px;
  margin-bottom: 4px;
  height: auto;
}
.is-mobile .list li:before {
  content: '';
  width: 4px;
  height: 4px;
  position: absolute;
  top: 10px;
  left: 0;
  background-color: #c30e11;
  pointer-events: none;
  border-radius: 100%;
}
.is-mobile .more {
  margin-bottom: 30px;
}
.is-mobile .footer .textAndImg {
  width: 100%;
}
.is-mobile .col1 .content .rot {
  border-left: none;
  border-right: none;
}
.is-mobile .col1 .content .right {
  justify-content: flex-start;
  margin-top: 0;
}
.is-mobile .col1 .area {
  padding-bottom: 10px !important;
  margin-bottom: 10px !important;
}
.is-mobile .rotBox .rot-prev,
.is-mobile .rotBox .rot-next {
  display: none;
}
.is-mobile .contentTxt {
  margin: 10px 5%;
  column-count: 1;
  column-gap: 0;
}
.is-mobile .itemLRBox {
  display: block;
  height: auto;
}
.is-mobile .itemLRBox .colA {
  justify-content: flex-start;
}
.is-mobile .itemLRBox .itemsColTiny {
  margin: 20px 40px 20px;
}
.is-mobile .itemLRBox .item1 {
  width: 100%;
  margin: 0 auto 30px;
}
.is-mobile .itemLRBox .item1 .list {
  margin: 0 30px 0 40px;
}
.is-mobile .itemLRBox .item2 {
  width: 100%;
  height: auto;
}
.is-mobile .col3Box {
  display: block;
  margin: 10px 0;
}
.is-mobile .col3Box .titlePic {
  width: 96%;
  height: 260px;
  background-repeat: no-repeat;
  background-size: 100% auto;
  margin: 0 auto 10px;
}
.is-mobile .col3Box .pageChildNav {
  width: 90%;
  margin: 0 auto;
}
.is-mobile .col3Box .pageChildNav .item a {
  border-radius: 10px;
}
.is-mobile .col3Box .pageChildNav .item a,
.is-mobile .col3Box .pageChildNav .item a.active,
.is-mobile .col3Box .pageChildNav .item a:hover {
  padding: 12px 10%;
}
.is-mobile .boxBg {
  background-size: 100% auto;
}
.is-mobile .col4Box {
  width: 96%;
  margin: 10px auto 20px;
  background: url("colSpBg.png");
  background-size: 100% auto;
  height: 1060px;
  border-radius: 10px;
}
.is-mobile .col4Box .item2 {
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}
.is-mobile .col4Box .item2:after {
  right: auto;
  left: 50%;
  width: 2px;
  height: 750px;
  bottom: -750px;
  transform: rotate(0) translate(-50%, 0);
}
.is-mobile .col4Box .item3 {
  top: 230px;
  left: 50%;
  transform: translateX(-50%);
}
.is-mobile .col4Box .item3:after {
  display: none;
}
.is-mobile .col4Box .item4 {
  top: auto;
  bottom: 220px;
  left: 50%;
  transform: translateX(-50%);
}
.is-mobile .col4Box .item4:after {
  display: none;
}
.is-mobile .col4Box .item5 {
  top: auto;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
}
.is-mobile .col4Box .item5:after {
  display: none;
}
.is-mobile .col5Box {
  display: block;
  width: 96%;
  margin: 0 auto;
  padding-bottom: 20px;
}
.is-mobile .col5Box .itemBox {
  padding-bottom: 20px;
}
.is-mobile .col5Box .itemBox .list {
  padding-top: 20px;
  padding-bottom: 10px;
}
.is-mobile .col5Box .itemBox .itemsColSpBg {
  margin-top: 0;
}
.is-mobile .col5Box .itemBox+.itemBox {
  margin-left: 0;
}
.is-mobile .col6Box {
  display: block;
  width: 96%;
  margin: 0 auto;
}
.is-mobile .col6Box .itemBox {
  width: 90%;
  padding: 0;
  margin: 0 auto;
}
.is-mobile .hasNavBox {
  display: block;
}
.is-mobile .pageChildNav {
  width: 94%;
  margin: 0 auto;
  display: flex;
  overflow-x: scroll;
  justify-content: flex-start;
  border-bottom: 1px solid #ffb400;
}
.is-mobile .pageChildNav .item {
  margin-bottom: 0;
  flex: 1 0 auto;
}
.is-mobile .pageChildNav .item.active {
  order: -1;
}
.is-mobile .pageChildNav .item a {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 0;
}
.isLoadingTxt {
  text-align: center;
  font-size: 20px;
  display: block;
  margin: 40px auto;
}
.isNoContent {
  text-align: center;
  font-size: 20px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.isNoContent a {
  color: #999 !important;
  cursor: default;
}
.page {
  background-color: #fff;
}
.more {
  width: 100%;
  text-align: right;
  font-size: 18px;
  font-weight: 600;
  line-height: 32px;
  margin: 0 auto 20px;
}
.more,
.more a {
  color: var(--moo-color);
}
.is-pc .mobile-nav-btn {
  display: none;
}
.is-mobile .nav {
  display: none;
}
.is-mobile .mobile-nav-btn {
  width: auto;
  display: flex;
  position: absolute;
  z-index: 2;
  top: 30px;
  left: 10px;
}
.panel-backdrop {
  background-color: rgba(0,0,0,0.3);
}
.panel-btnBoxbox .block {
  height: 100%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.panel-btnBox {
  text-align: center;
}
.panel-btnBox a {
  width: 70%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 6px 20px;
  font-size: 16px;
  height: auto;
  line-height: 22px;
  border: 1px var(--moo-color) solid;
  border-radius: 6px;
  margin-bottom: 12px;
  color: var(--moo-color);
  font-weight: 500;
}
.panel-btnBox a.active {
  background-color: var(--moo-color);
  color: #fff !important;
}
.panel-btnBox .panel-xaLogoA {
  border: none;
  margin-bottom: 30px;
}
.panel-btnBox .panel-xaLogoA img {
  height: 50px;
  width: auto;
}
.st-closeBox {
  text-align: center;
}
.st-close {
  margin-top: 20px;
  color: #ff3b30;
}
.panel-openBtnBox {
  display: inline-block;
}
.is-mobile .topLogo {
  transform: translateX(0);
  left: auto;
  right: 20px;
  top: 0;
  width: 100px;
}
.is-mobile .rotBig .swiper-pagination {
  display: block;
  width: auto;
  bottom: -10px;
  top: auto;
  right: auto;
  left: 50%;
  transform: translateX(-50%);
}
.is-mobile .rotBig .swiper-pagination .swiper-pagination-bullet {
  background-color: #ccc;
}
.is-mobile .rotBig .swiper-pagination .swiper-pagination-bullet-active {
  background-color: var(--moo-color);
}
.is-mobile .more .colA {
  justify-content: flex-end;
}
.is-mobile .spBox1 {
  width: 100%;
}
.is-mobile .spArea {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}
.is-mobile .spaColTitle {
  margin-left: 20px;
}
.is-mobile .picListBox,
.is-mobile .picList {
  width: 100%;
}
.is-mobile .picList li {
  margin-right: 20px;
  margin-left: 20px;
  width: 100%;
}
.picTitleAbsAndList .content {
  display: flex;
  position: relative;
  justify-content: space-between;
}
.picTitleAbsAndList-left {
  display: flex;
  position: relative;
  justify-content: space-between;
  flex: 1 0;
}
.picTitleAbsAndList-left .item {
  width: 350px;
}
.picTitleAbsAndList-left .item .pic {
  height: 197px;
  position: relative;
  margin-bottom: 10px;
  border-radius: 4px;
  overflow: hidden;
}
.picTitleAbsAndList-left .item .pic img {
  width: 100%;
  height: auto;
}
.picTitleAbsAndList-left .item .title {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 10px;
}
.picTitleAbsAndList-left .item .abs {
  font-size: 14px;
  color: #666;
}
.picTitleAbsAndList-left .item+.item {
  margin-left: 20px;
  padding-left: 20px;
}
.picTitleAbsAndList-right {
  flex: 1 1;
  margin-left: 30px;
  padding-left: 20px;
  height: 100%;
}
.picTitleAbsAndList-right .list {
  margin: 0;
}
.is-mobile .picTitleAbsAndList {
  width: 100%;
}
.is-mobile .picTitleAbsAndList .content {
  display: block;
}
.is-mobile .picTitleAbsAndList-left {
  display: block;
}
.is-mobile .picTitleAbsAndList-left .item {
  width: 94%;
  margin: 0 auto;
}
.is-mobile .picTitleAbsAndList-left .item .abs {
  margin-bottom: 10px;
}
.is-mobile .picTitleAbsAndList-left .item+.item {
  margin-left: auto;
  padding-left: 0;
}
.is-mobile .picTitleAbsAndList-right {
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  width: 94%;
}
.is-mobile .rotBig {
  overflow: visible;
}
.is-mobile .rotBig .swiper-pagination {
  display: none;
}
.is-mobile .rotBig .item .title {
  padding-bottom: 0;
}
.picList4 li {
  width: 23%;
  margin-right: 20px;
  background-color: #f3f3f3;
  border-radius: 4px;
}
.picList4 li .text {
  margin: 6px 10px;
}
.picList4 li .pic {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.picList4 li .pic:before,
.picList4 li .pic:after {
  display: none;
}
.picList4 li .pic img {
  position: absolute;
  width: auto;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  height: 100%;
}
.picListSp1 li {
  border-bottom: 5px solid var(--moo-color);
}
.picListSp1 li .text a {
  justify-content: flex-start;
}
.picListSp1 li .text .title {
  text-align: left;
}
.picList3 li .pic:before,
.picList3 li .pic:after {
  display: none;
}
.is-mobile .picList4 li .pic {
  height: 200px;
}
.rotBigBox {
  margin-bottom: 60px;
}
.rotPicTitleAbsAddSidebar .rotPicTitleAbs {
  width: 1000px;
  height: 390px;
}
.rotPicTitleAbsAddSidebar .rotPicTitleAbsBox {
  display: flex;
  justify-content: space-between;
}
.rotPicTitleAbsAddSidebar .sidebar {
  width: 250px;
  height: 390px;
}
.rotPicTitleAbsAddSidebar .sidebar .pic {
  background-image: url("/talking/index-assets/scenes1-logo.png");
  background-position: center center;
  background-size: auto;
  background-color: #ccc;
  background-repeat: no-repeat;
  z-index: 1;
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 390px;
  position: relative;
  background-size: auto 40px;
}
.rotPicTitleAbsAddSidebar .sidebar .pic a {
  width: 100%;
  height: 100%;
}
.rotPicTitleAbsAddSidebar .sidebar .pic img {
  position: absolute;
  width: auto;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  height: 100%;
}
.rotPicTitleAbsAddSidebar .item-picTitleAbs .pic {
  background-image: url("/talking/index-assets/scenes1-logo.png");
  background-position: center center;
  background-size: auto;
  background-color: #ccc;
  background-repeat: no-repeat;
  z-index: 1;
  position: absolute;
  overflow: hidden;
  position: relative;
  width: 500px;
  height: 300px;
  border-radius: 4px;
  overflow: hidden;
}
.rotPicTitleAbsAddSidebar .item-picTitleAbs .pic a {
  width: 100%;
  height: 100%;
}
.rotPicTitleAbsAddSidebar .item-picTitleAbs .pic img {
  position: absolute;
  width: auto;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  height: 100%;
}
.is-mobile .rotPicTitleAbsAddSidebar .rotPicTitleAbs {
  width: 90%;
  height: 500px;
}
.is-mobile .rotPicTitleAbsAddSidebar .rotPicTitleAbsBox {
  display: block;
  height: auto;
}
.is-mobile .rotPicTitleAbsAddSidebar .sidebar {
  width: 90%;
  height: 452px;
  margin: 10px auto 0;
}
.is-mobile .rotPicTitleAbsAddSidebar .sidebar .pic {
  background-image: url("/talking/index-assets/scenes1-logo.png");
  background-position: center center;
  background-size: auto;
  background-color: #ccc;
  background-repeat: no-repeat;
  z-index: 1;
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 452px;
  position: relative;
  background-size: auto 40px;
}
.is-mobile .rotPicTitleAbsAddSidebar .sidebar .pic a {
  width: 100%;
  height: 100%;
}
.is-mobile .rotPicTitleAbsAddSidebar .sidebar .pic img {
  position: absolute;
  width: auto;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  height: 100%;
}
.is-mobile .rotPicTitleAbsAddSidebar .item-picTitleAbs .pic {
  background-image: url("/talking/index-assets/scenes1-logo.png");
  background-position: center center;
  background-size: auto;
  background-color: #ccc;
  background-repeat: no-repeat;
  z-index: 1;
  position: absolute;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 200px;
  border-radius: 4px;
  overflow: hidden;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.is-mobile .rotPicTitleAbsAddSidebar .item-picTitleAbs .pic a {
  width: 100%;
  height: 100%;
}
.is-mobile .rotPicTitleAbsAddSidebar .item-picTitleAbs .pic img {
  position: absolute;
  width: auto;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  height: 100%;
}
.is-mobile .rotPicTitleAbsAddSidebar .textBox {
  padding-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.is-mobile .rotBigBox {
  width: 100%;
  overflow: hidden;
}
.spBox1 .topBigTitle {
  width: auto;
  position: relative;
  z-index: 99;
  padding-bottom: 30px;
}
.col1 .area {
  padding-top: 0;
}
.col1 .content-rot-headline {
  margin-top: 30px;
}
.rotGallerySP {
  background: none;
}
.rotGallerySP .rotGallery {
  background-color: #cae7f5;
  border-radius: 4px;
  padding-top: 30px;
  margin: 0 auto 40px;
}
.rotGallerySP .rotGallery .gallery-top {
  top: 30px;
}
.rotGallerySP .rotGallery .swiper-button-prev {
  top: 42px;
}
.rotGallerySP .rotGallery .gallery-thumbs {
  transform: translateY(-51%);
}
.contentBoxSP {
  font-size: 16px;
  line-height: 26px;
  background-color: #f1f8ff;
  border-radius: 4px;
  position: relative;
  margin-top: 40px;
}
.contentBoxSP:before {
  content: '';
  position: absolute;
  width: 90%;
  margin: 0 auto;
  height: 50px;
  top: -15px;
  left: 50%;
  background-image: url("colRepeatXBg.png");
  background-position: 0 0;
  background-repeat: repeat-x;
  transform: translateX(-48%);
}
.contentBoxSP .isContent {
  padding: 70px 6% 40px;
}
.contentBoxSP .isNoContent {
  min-height: 500px;
}
.contentBoxSP .isNoContent .preloader {
  margin-right: 12px;
}
.contentBoxSP strong {
  display: inline-block;
  margin-top: 18px;
  margin-bottom: 12px;
}
.contentBoxSP a {
  color: var(--moo-color);
  text-decoration: underline;
}
.is-pc .contentBoxSP .isContent {
  padding: 70px 60px 40px;
}
.is-pc .contentBoxSP .setUrlDom-domHtml {
  column-count: 2;
  column-gap: 2em;
}
.is-pc .rotBigOpenWidth {
  overflow: hidden;
  background-color: #10447a;
}
.is-pc .rotBigOpenWidth .rotBig {
  width: 1200px;
  border-radius: 0;
}
.is-pc .rotBigOpenWidth .rotBig,
.is-pc .rotBigOpenWidth .swiper-wrapper {
  overflow: visible;
}
.is-pc .rotBigOpenWidth .rot-prev {
  left: -60px;
}
.is-pc .rotBigOpenWidth .rot-next {
  right: -60px;
}
.is-pc .rotBigOpenWidth .rot-prev,
.is-pc .rotBigOpenWidth .rot-next {
  color: #fff;
}
.is-pc .rotBigOpenWidth .swiper-slide li {
  opacity: 0.2;
}
.is-pc .rotBigOpenWidth .swiper-slide-active li {
  opacity: 1;
}
.navBtn.hide {
  display: none !important;
}
.contentTxt {
  font-size: 16px;
  line-height: 28px;
  text-indent: 2em;
  margin: 10px 40px;
  column-count: 3;
  column-gap: 2em;
}
.contentTxtMore {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
}
.contentTxtMore .link {
  color: var(--moo-color);
  text-align: right;
  font-size: 16px;
  font-weight: 400;
}
.hasNavBox {
  position: relative;
  display: flex;
  width: 100%;
}
.hasNavContentBox {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 300px;
}
.pageChildNav {
  margin-top: var(--f7-list-margin-vertical);
  margin-right: 20px;
  flex: 0 1 auto;
  width: 220px;
  justify-content: space-between;
}
.pageChildNav .item {
  line-height: 26px;
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 12px;
}
.pageChildNav .item a {
  display: inline-block;
  width: 100%;
  padding: 8px 20px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.pageChildNav .item a.active,
.pageChildNav .item a:hover {
  background-color: #ffb400;
  color: rgba(255,255,255,0.5) !important;
  font-weight: 600;
}
.pageChildNav .item a.active {
  color: #fff !important;
}
.isCtlNoContentHeight .hasNavContentBox .isNoContent {
  min-height: 100px;
}
.is-mobile .listBox.hasNav {
  flex-direction: column;
}
.is-mobile .pageChildNav {
  margin-right: 0;
}
.itemLRBox {
  display: flex;
  justify-content: space-between;
  height: 100%;
  position: relative;
}
.itemLRBox .itemsColTiny {
  margin: 30px 40px 20px;
}
.itemLRBox .item1 {
  width: 30%;
}
.itemLRBox .item1 .list {
  margin: 0 30px 0 40px;
}
.itemLRBox .item2 {
  width: 65%;
  height: 100%;
  background: url("itemLRBoxBg.png");
  padding-bottom: 40px;
}
.itemLRBox .item2 .list {
  margin: 0 40px;
  background: #fff;
  border-radius: 10px;
  border: 1px #dca312 dashed;
  min-height: 50px;
  padding: 20px 40px;
}
.bg {
  background-color: rgba(237,248,253,0.502);
  box-shadow: 0.5px 0.866px 7.12px 0.88px rgba(51,51,51,0.27);
}
.topBox {
  height: 108px;
  width: 100%;
  margin: 32px auto 0;
  align-items: center;
  display: flex;
}
.topBox-in {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.topBox-in .rightBox {
  width: 105px;
  display: flex;
  justify-content: space-between;
  margin-right: 60px;
  align-items: center;
}
.area1 {
  height: auto;
  padding-top: 12px;
}
.area1 .list {
  width: 1235px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.area1 .list li {
  flex: 0 1 auto;
  background-color: #fff;
  box-shadow: 0px 0px 3.8px 0.2px rgba(6,40,77,0.3);
  width: 380px;
  height: 330px;
  position: relative;
  margin-bottom: 25px;
  margin-right: 28px;
  padding: 0;
}
.area1 .list li:before {
  display: none;
}
.area1 .list li:after {
  display: block;
  pointer-events: none;
  content: '';
  width: 100%;
  height: 8px;
  background-color: #0075f8;
  position: absolute;
  bottom: 0;
  z-index: 0;
}
.area1 .list li .pic {
  background-image: url("/talking/index-assets/scenes1-logo.png");
  background-position: center center;
  background-size: auto;
  background-color: #ccc;
  background-repeat: no-repeat;
  z-index: 1;
  position: absolute;
  overflow: hidden;
  position: relative;
}
.area1 .list li .pic,
.area1 .list li .pic a {
  width: 100%;
  height: 214px;
}
.area1 .list li .pic img {
  position: absolute;
  width: auto;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  height: 214px;
}
.area1 .list li .text {
  height: 102px;
  position: relative;
}
.area1 .list li .text a {
  height: 100%;
  display: inline-block;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.area1 .list li .title {
  color: #268ff7;
  font-weight: 400;
  font-size: 18px;
  margin: 17px auto 0;
  height: 32px;
  line-height: 32px;
  font-weight: 600;
  overflow: hidden;
  width: 94%;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.area1 .list li .title2 {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 92%;
  padding-top: 18px;
  border-top: #268ff7 1px solid;
}
.area1 .list li .title2 .date,
.area1 .list li .title2 .more {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #268ff7;
}
.area1 .list li .title2 .more {
  width: auto;
  text-align: right;
  margin: 0;
  padding-left: 25px;
  background-image: url("icon-view.png");
  background-position: 0 center;
  background-repeat: no-repeat;
}
.is-pc .rotRightPicTitleAbs-pagination {
  display: none;
}
