
rotRightPicTitleAbsItemBoxHeight = 385px

.rotRightPicTitleAbs
.rotRightPicTitleAbsBox
.rotRightPicTitleAbs-container
    width: 1200px
    height 505px
    margin: 0 auto

.rotRightPicTitleAbs
    margin-top: 40px
    // background-image: url(rotBgRel.png)
    // background-repeat: no-repeat
    // background-position: center center

.rotRightPicTitleAbsBox
    position: relative
    z-index: 10

.rotRightPicTitleAbs-container
    .item-rightPicTitleAbs
        position relative
        background-image: url(rotBg.png)
        background-repeat: no-repeat
        background-position: center center

        // &:after
        // &:before
        //     content: ''
        //     display: block
        //     position: absolute
        //     background-repeat: no-repeat
        //     height 505px
        //     top: 0

        // &:before
        //     background-image: url(rotBgLeft.png)
        //     background-position: 0 center
        //     width: 700px
        //     left 0
        //     z-index: 1

        // &:after
        //     background-image: url(rotBgRight.png)
        //     background-position: right center
        //     width: 400px
        //     right: 0
        //     z-index 1

        .item-rightPicTitleAbs-in // .item-rightPicTitleAbs-in
            display: flex
            justify-content: space-around
            padding: 30px
            // background: #ffffff
            margin: 0 50px

        picHeight = rotRightPicTitleAbsItemBoxHeight
        picWidth = 686px

        .pic
            height picHeight
            width: picWidth
            // border-radius: 4px
            overflow hidden
            background-color: rgb(255, 255, 255);
            box-shadow: 0.588px 0.809px 7.6px 0.4px rgba(0, 117, 248, 0.4);
            position: absolute
            border #ffffff 12px solid
            border-left-width: 13px
            border-right-width: @border-left-width
            position: absolute
            left 110px
            top: 50%
            transform: translateY(-50%)
            margin-top: 12px

            img
                width: auto
                height picHeight

            &:after
                content: ''
                display: block
                z-index 2
                position: absolute
                width: 76px
                height @width 
                background-image: url(icon-play.png)
                bottom: 13px
                left 13px
                pointer-events: none

        .textBox
            flex: 1 0
            margin-right: 40px
            display: flex
            flex-direction: column
            justify-content: flex-start
            position: absolute
            right: 78px
            top: 50%
            transform: translateY(-50%)
            background-color: rgb(255, 255, 255);
            box-shadow: 0.588px 0.809px 7.6px 0.4px rgba(51, 191, 255, 0.93);
            width: 212px
            height: 278px
            overflow hidden
  

            .title
                font-size: 18px
                line-height: 22px
                font-weight: 300
                display: inline-block
                padding-top: 28px
                font-weight: 400
                
                &:after
                    content: ''
                    width: 70px
                    height 6px
                    background: #0075f8
                    display: block

                a
                    color: #0075f8
                    
                
            .text-in
                padding: 10px 12px 10px 16px

            .abs
                font-size: 13px
                line-height: 20px
                height: @line-height * 4.6
                color: #767676

            .item-rightPicTitleAbs-more
                color: #0075f8
                background-image: url(icon-more.png)
                background-repeat: no-repeat
                background-position: 0 bottom
                display: block
                align-self: flex-end
                padding-top: 10px
                padding-left: 28px
                padding-right: 16px
                font-weight: 400
                z-index 99

                // &:active
                //     background: red

.rotRightPicTitleAbs-prev
.rotRightPicTitleAbs-next
    color: var(--moo-color)
    outline: none
    overflow hidden
    text-indent: -888px
    width: 40px
    height @width
    border-radius: 100%
    background-repeat: no-repeat
    background-position: center center
    top: 50%
    transform: translateY(-50%)

.rotRightPicTitleAbs-prev
    background-image: url(icon-prev.png)

.rotRightPicTitleAbs-next
    background-image: url(icon-next.png)


.is-pc
    .rotRightPicTitleAbs-pagination
        display: none 

.is-mobile
    .rotRightPicTitleAbs-prev
    .rotRightPicTitleAbs-next
        display: none

    .rotRightPicTitleAbs
    .rotRightPicTitleAbsBox
    .rotRightPicTitleAbs-container
        width: 100%
        height 465px
        margin: 0 auto

    .rotRightPicTitleAbs
        background: #f6fbfe
        padding: 0 12px
        width: 94%
        position relative

    .rotRightPicTitleAbsBox
        .swiper-pagination-bullet
            width: 30px
            border-radius: 0
            height 4px
            outline: 0

        .swiper-pagination-bullet+.swiper-pagination-bullet
            margin-left: 3px

    .rotRightPicTitleAbs-container
        .item-rightPicTitleAbs

            .textBox
                flex: 1 0
                position absolute
                width: 100%
                height auto
                margin: 0
                justify-content: flex-start
                padding-top: 0
                top: 234px
                left 0
                right auto
                transform: none
                height 465px - 272px
                z-index 99

            .textBox-in
                margin: 0 auto
                width: 90%
                height auto

            .title
                position relative
                padding-top: 16px

            .pic
                width: 100%
                height 220px
                overflow hidden
                border: 0
                left 0
                top: 0
                transform: none

                &:after
                    display: none 
                a
                    width: 100%
                    height 100%

                img
                    width: auto
                    height 100%

            .abs
                height auto

                .text-in
                    padding-bottom: 0

            .item-rightPicTitleAbs-more
                position: absolute
                bottom: 14px
                right: 10px
                // color: #0075f8
                // background-image: url(icon-more.png)
                // background-repeat: no-repeat
                // background-position: 0 bottom
                // display: block
                // align-self: flex-end
                // padding-top: 10px
                // padding-left: 28px
                // padding-right: 16px
                // font-weight: 400
                