.itemsColSpBg   
    width: areaWidth
    height 47px
    margin: 40px auto 20px
    background-position: 0 center
    background-repeat: no-repeat
    background-image: url(colBg.png)
    background-color: var(--moo-footerBg)
    border-radius: 14px

    .colATxt
        color: #ffffff
        padding-left: 56px
        line-height: 47px
        font-size: 28px
        font-weight: 800

.itemsColTiny
    color: #565656
    font-size: 24px
    font-weight: 600

a:hover
    .itemsColTiny
        color: orange

.is-mobile
    .itemsColSpBg
        width: 96%

// .colIn
//     height 109px

// .col1Title
//     background-image: url(col1.png)
// .col2Title
//     background-image: url(col2.png)

// .col3Title
//     background-image: url(col3.png)

// .col3TitleIn1
//     background-image: url(col3in1.png)
// .col3TitleIn2
//     background-image: url(col3in2.png)
// .col3TitleIn3
//     background-image: url(col3in3.png)

// .col4Title
//     background-image: url(col4.png)
